@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/* la cabezera*/

#nombre {
  padding-top: 1%;
  padding-bottom: 1%;
  background-image:url(../img/fondo-matriz-digital-abstracto_34629-589.jpg);
  background-color: #0D0D0D;
  color: #9AC7D9;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 3em;
  letter-spacing: 10px;
  text-align: right;
  margin: 0;
} 

/* barra de navegacion*/

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden; 
  background-color: #325A73;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: #9AC7D9;
    padding: 12px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #0D0D0D;
    font-family: cursive;
    color: rgba(4, 160, 155, 0.788);
  }

  li a.presentacion {
    background-color: rgba(4, 160, 155, 0.788);
    font-family: cursive;
    font-style: oblique;
    color: #9AC7D9;
  }

    li a.educacion {
    background-color: rgba(4, 160, 155, 0.788);
    font-family: cursive;
    font-style: oblique;
    color: #9AC7D9;
  }

    li a.aficiones {
    background-color: rgba(4, 160, 155, 0.788);
    font-family: cursive;
    font-style: oblique;
    color: #9AC7D9;
  }

/* pie de página */

footer {
  background-color: #325A73;
  overflow: auto;
}

  .ibq {
    width: 70px;
    height: 40px;
    padding: 10px;
    float: left;
  }

  .twitter {
    padding: 10px;
    width: 40px;
    float: right;
  }

  .facebook {
    padding: 10px;
    width: 40px;
    float: right;
  }

/* formulario de contacto */

.primera {
  float: right;
  background-color: #0D0D0D;
  padding: 10px;
}

  .contacto {
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 3px;
    color: #9AC7D9;
    font-size: 2em;
  }

  input {
    font-style: oblique;
    margin-right: auto;
    margin-left: auto;
    display: block
  }

    input:focus {
      background-color: #9AC7D9;
    }

  .submit {
    color: #9AC7D9;
    background-color: #325A73;
    margin-right: auto;
    margin-left: auto;
    display: block
  }

    .submit:hover {
      color: #325A73;
      background-color: #9AC7D9;
    }

/* contenido de la pagina principal */

article {
  background-color: #9AC7D9;
  padding-left: 3%;
  padding-bottom: 12%;
  padding-right: 15%;
  text-align: justify;
}

.presentacion_titulo {
  color: #0D0D0D;
  font-family: 'Big Shoulders Stencil Display', cursive;
  letter-spacing: 2px;
}

  #columnas {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  b {
    font-weight: 900;
  }

  #yo {
    width: 50px;
    float: left;
    height: auto;
    padding-right: 5mm;
  }

  hr {
    height: 0.5px;
    margin-top: 5mm;
    margin-bottom: 5mm;
  }

  p:first-line {
    font-family: 'Nerko One', cursive;
    font-weight: 100;
  }

/* contenido de la pagina Educacion */

.segunda {
  background-color: #9AC7D9;
  padding-left: 5%;
  padding-bottom: 2%;
  padding-right: 15%;
  padding-top: 2% ;
}

  .educacion_titulo {
    color: #0D0D0D;
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 2px;
  }

  table {
    border: solid black 1px;
    width: 90%;
  }

  td {
    border: black solid 1px;
    padding: 10px;
  }

  th {
    border: black solid 1px;
    background-color: #688EA6;
    padding: 10px;
  }

  .asignatura {
    font-style: italic;
  }

  .descripcion {
    font-weight: bold;
  }

/* contenido de la pagina Aficiones */

.tercera {
  background-color: #9AC7D9;
  padding-left: 5%;
  padding-bottom: 10%;
  padding-right: 15%;
  padding-top: 2% ;
}

.aficiones_titulo {
  color: #0D0D0D;
  font-family: 'Big Shoulders Stencil Display', cursive;
  letter-spacing: 2px;
}

.lista_aficiones {
  list-style-type: circle;
  font-weight: bold;
}

img {
  width: 100px;
  height: auto;
  padding-right: 10px;
  padding-top: 3px;
  float: left;
}