
/* css para la cabezera*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');

#nombre {
  padding-top: 1%;
  padding-bottom: 1%;
  background-image:url(../img/fondo-matriz-digital-abstracto_34629-589.jpg);
  background-color: golden;
  color: #9AC7D9;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 3em;
  letter-spacing: 10px;
  text-align: right;
  margin: 0;
} 

/* css para la barra de navegacion*/

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden; 
  background-color: #325A73;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: #9AC7D9;
    padding: 12px;
    text-decoration: none;
   }

   li a:hover {
    background-color: #0D0D0D;
    font-family: cursive;
    color: rgba(4, 172, 166, 0.788);
   }

   li a.principal {
    background-color: rgba(4, 160, 155, 0.788);
    font-family: cursive;
    font-style: oblique;
    color: #9AC7D9;
   }

    li a.educacion {
    background-color: rgba(4, 160, 155, 0.788);
    font-family: cursive;
    font-style: oblique;
    color: #9AC7D9;
   }

    li a.aficiones {
    background-color: rgba(4, 160, 155, 0.788);
    font-family: cursive;
    font-style: oblique;
    color: #9AC7D9;
   }

/* css para el pie de página */

footer {
  background-color: #325A73;
  overflow: auto;
}

.ibq {
  width: 70px;
  height: 40px;
  padding: 10px;
  float: left;
}

.twitter {
  padding: 10px;
  width: 40px;
  float: right;
}

.facebook {
  padding: 10px;
  width: 40px;
  float: right;
}

/* css para el formulario de contacto*/

h1 {
  text-align: center;
  font-family: 'Big Shoulders Stencil Display', cursive;
  letter-spacing: 3px;
  color: #9AC7D9;
  font-size: 2em;
}

section {
  float: right;
  background-color: #0D0D0D;
  padding: 10px;
}

input {
  margin: 5px;
}