@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');
h1 {
    padding-top: 1%;
    padding-bottom: 1%;
    background-image:url(../img/fondo-matriz-digital-abstracto_34629-589.jpg);
    background-color: turquoise;
    color: #9AC7D9;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 3em;
    letter-spacing: 10px;
    text-align: right;
} 